

// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: justify;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.post-content p {
    text-align: justify;
}
